<body>
  <p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Commission tool</span>
  </mat-toolbar>
</p>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/customer'"> <mat-icon>contacts</mat-icon> Customers </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/order'"> <mat-icon>list</mat-icon> Orders </a>
      <mat-divider></mat-divider>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</body>